<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Atomic Arbitrage Bot</title>
        <script type="text/javascript" src="/web/vendor/jquery.min.js"></script>
        <script type="text/javascript" src="web/js/dist/vue.js"></script>
        <script type="text/javascript" src="/web/vendor/fa.js"></script>
        <link rel="stylesheet" type="text/css" href="/web/vendor/bulma.min.css">
    </head>
    <body>
        {{block "content" .}}{{end}}
        <script type="text/javascript" src="web/js/dist/index.js"></script>
        {{block "scripts" .}}{{end}}
    </body>
</html>
