{{define "content"}}
    <market-monitor id="market-monitor"></market-monitor>
{{end}}
{{define "scripts"}}
    <script type="text/javascript">
        $(document).ready(function() {
            {{range .Tokens}}
                app.tokens.push({{.}});
            {{end}}

            {{range .Exchanges}}
                app.exchanges.push({{.}});
            {{end}}
        });
    </script>
{{end}}
